@tailwind base;
@tailwind components;
@tailwind utilities;

.blurNav {
    z-index: 5;
  }
  
 
  
  .bgLeaf {
    background-image: url('./src/assets/banner/banner-4.png');
    background-position: center;
  }
  
  #stay-home {
    background-image: url('./src/assets/banner/banner-10.png');
    background-position: center center;
    background-size: contain;
  }
  
  .daily-best-sells {
    grid-template-columns: 1fr 3fr;
  }